In [ ]:
#Import necessary library
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
# Defing file location
url = 'https://raw.githubusercontent.com/tuhin-datascience/data/main/bank-full.csv'

In [ ]:
# Creating a dataframe from the file
df = pd.read_csv(url, sep=';')

In [ ]:
# First five rows of the data frame
df.head()

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no
3   47   blue-collar  married    unknown  ...    -1         0  unknown  no
4   33       unknown   single    unknown  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
# Statistics of the numerical columns
df.describe()

                age        balance  ...         pdays      previous
count  45211.000000   45211.000000  ...  45211.000000  45211.000000
mean      40.936210    1362.272058  ...     40.197828      0.580323
std       10.618762    3044.765829  ...    100.128746      2.303441
min       18.000000   -8019.000000  ...     -1.000000      0.000000
25%       33.000000      72.000000  ...     -1.000000      0.000000
50%       39.000000     448.000000  ...     -1.000000      0.000000
75%       48.000000    1428.000000  ...     -1.000000      0.000000
max       95.000000  102127.000000  ...    871.000000    275.000000

[8 rows x 7 columns]

In [ ]:
# Statistics of the categorical columns
df.describe(include=object)

                job  marital  education  ...  month poutcome      y
count         45211    45211      45211  ...  45211    45211  45211
unique           12        3          4  ...     12        4      2
top     blue-collar  married  secondary  ...    may  unknown     no
freq           9732    27214      23202  ...  13766    36959  39922

[4 rows x 10 columns]

In [ ]:
#Finding the unique values of the job column
df['job'].unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [ ]:
# Count of each of the values for the job column
df['job'].value_counts()

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64

In [ ]:
# Exploring the count of values of each the categoriacal columns
for x in df.columns:
  if df.dtypes[x] == 'object':
    print(x)
    print(df[x].unique())
    print(df[x].value_counts())
    print('----------------------------------')

job
['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']
blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
----------------------------------
marital
['married' 'single' 'divorced']
married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
----------------------------------
education
['tertiary' 'secondary' 'unknown' 'primary']
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
----------------------------------
default
['no' 'yes']
no     44396
yes      815
Name: default, dtype: int64
----------------------------------
housing
['yes' 'no']
yes    25130
no     20081
Name: housing, dtype: int64
----------------------------------
loan
['no' 'yes']
no     37967
yes     7244
Name: loan, dtype: int64
----------------------------------
contact
['unknown' 'cellular' 'telephone']
cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
----------------------------------
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
----------------------------------
poutcome
['unknown' 'failure' 'other' 'success']
unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
----------------------------------
y
['no' 'yes']
no     39922
yes     5289
Name: y, dtype: int64
----------------------------------

In [ ]:
# Spliting into dependent and independent variables
X = df.drop(['y'], axis=1)
y = df['y']

In [ ]:
X.head()

   age           job  marital  education  ... campaign  pdays previous poutcome
0   58    management  married   tertiary  ...        1     -1        0  unknown
1   44    technician   single  secondary  ...        1     -1        0  unknown
2   33  entrepreneur  married  secondary  ...        1     -1        0  unknown
3   47   blue-collar  married    unknown  ...        1     -1        0  unknown
4   33       unknown   single    unknown  ...        1     -1        0  unknown

[5 rows x 16 columns]

In [ ]:
# Finding the shape of the dependent variables.
X.shape

(45211, 16)

In [ ]:
# Converting the categorical variable to numerical variable for 'housing' column
housing_dummy = pd.get_dummies(df['housing'], drop_first=True)
print(housing_dummy)

       yes
0        1
1        1
2        1
3        1
4        0
...    ...
45206    0
45207    0
45208    0
45209    0
45210    0

[45211 rows x 1 columns]

In [ ]:
# Converting the categorical variable to numerical variable for all categorical columns
dummies = pd.Series([])

for x in X.columns:
  if X.dtypes[x] == 'object':
    print(x)
    dummy = pd.get_dummies(df[x], drop_first=True)
    dummies = pd.concat([dummies ,dummy], axis=1)

print(dummies)
dummies.shape

job
marital
education
default
housing
loan
contact
month
poutcome
        0  blue-collar  entrepreneur  housemaid  ...  sep  other  success  unknown
0     NaN            0             0          0  ...    0      0        0        1
1     NaN            0             0          0  ...    0      0        0        1
2     NaN            0             1          0  ...    0      0        0        1
3     NaN            1             0          0  ...    0      0        0        1
4     NaN            0             0          0  ...    0      0        0        1
...    ..          ...           ...        ...  ...  ...    ...      ...      ...
45206 NaN            0             0          0  ...    0      0        0        1
45207 NaN            0             0          0  ...    0      0        0        1
45208 NaN            0             0          0  ...    0      0        1        0
45209 NaN            1             0          0  ...    0      0        0        1
45210 NaN            0             1          0  ...    0      1        0        0

[45211 rows x 36 columns]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

(45211, 36)

In [ ]:
# Removing all the categorical columns from the dataframe.
for x in X.columns:
  if X.dtypes[x] == 'object':
    X.drop(x, axis=1, inplace=True)

X.head()

   age  balance  day  duration  campaign  pdays  previous
0   58     2143    5       261         1     -1         0
1   44       29    5       151         1     -1         0
2   33        2    5        76         1     -1         0
3   47     1506    5        92         1     -1         0
4   33        1    5       198         1     -1         0

In [ ]:
# Concatenate al the numerical columns together.
X = pd.concat([X, dummies], axis=1)

In [ ]:
X.head()

   age  balance  day  duration  campaign  ...  oct  sep  other  success  unknown
0   58     2143    5       261         1  ...    0    0      0        0        1
1   44       29    5       151         1  ...    0    0      0        0        1
2   33        2    5        76         1  ...    0    0      0        0        1
3   47     1506    5        92         1  ...    0    0      0        0        1
4   33        1    5       198         1  ...    0    0      0        0        1

[5 rows x 43 columns]

In [ ]:
X.shape

(45211, 43)

In [ ]:
X.drop(0,axis=1, inplace=True)

In [ ]:
 y = pd.get_dummies(y, drop_first=True)

In [ ]:
# Converting the dependent variable to a numerical type 
y.head()

   yes
0    0
1    0
2    0
3    0
4    0

In [ ]:
y.shape

(45211, 1)

In [ ]:
# Splitting up the dependent and independents variable into Train and Test, we have 20% of the record for testing the model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=0)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(36168, 42)
(9043, 42)
(36168, 1)
(9043, 1)

In [ ]:
# Importing the StandardScaler library
from sklearn.preprocessing import StandardScaler

In [ ]:
# Converting all values into strandardised values for the training dataset
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

In [ ]:
print(X_train)

[[ 1.51506117 -0.23163698 -0.69851397 ... -0.20517128 -0.18404781
   0.47153594]
 [-0.36959746  0.10603762 -0.81871672 ... -0.20517128 -0.18404781
   0.47153594]
 [-0.55806332  0.47063537 -1.66013596 ... -0.20517128 -0.18404781
  -2.12072912]
 ...
 [-0.55806332 -0.34030268 -0.57831122 ... -0.20517128 -0.18404781
   0.47153594]
 [ 2.74008927 -0.24526074  1.34493276 ... -0.20517128 -0.18404781
  -2.12072912]
 [ 0.47849892 -0.42658649 -0.21770297 ... -0.20517128 -0.18404781
   0.47153594]]

In [ ]:
# Converting all values into strandardised values for the testing dataset
X_test = sc.transform(X_test)

In [ ]:
# Importing Logistic Regression Libreary
from sklearn.linear_model import LogisticRegression

In [ ]:
# Defing the Logistic Regression Classifier
lr = LogisticRegression()
classifier = lr.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
# Prediction of independent variable based on the defined model
y_pred = classifier.predict(X_test)

In [ ]:
# Importing different classification measurement matrix.
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:
# Calculating the Confusion Matrix
print(confusion_matrix(y_test, y_pred))

[[7754  226]
 [ 690  373]]

In [ ]:
# Calculating precision, recall and F1-Score
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      0.97      0.94      7980
           1       0.62      0.35      0.45      1063

    accuracy                           0.90      9043
   macro avg       0.77      0.66      0.70      9043
weighted avg       0.88      0.90      0.89      9043

In [ ]:
#Calcualting Accuracy values
print(accuracy_score(y_test, y_pred))

0.8987061815769103

### **K Fold Cross Validation**